################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/timezonetest/v15/Server/sqlite3
/.vs/timezonetest/v15
